body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-size: 20px;
}

.cabecera{
    background-color: salmon;
}

.cabecera #tag{
    color: white;
}

.container{
    width: 70%;
    text-align: left;
    border: 1px solid black;
}

.container h1{
    font-size: 20px;
}

footer{
    background-color: blue;
    color: wheat;
    bottom: 0;
}